
.item {
    color:rgb(3, 18, 228);
    padding: 10px;
}
.item img {
  width: 50px;
  border-radius: 50%;
}

.errors {
  color: #ff0000;
  font-size: large;
  padding: 10px 0;
}

.input {
  border: 2px solid red;
}